p {
    color: rgb(51, 31, 6);
    font-size: 13px;
    font-family: cursive;
    font-weight: bolder;    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.counter{
    border: 2px rgb(59, 36, 8) solid;
    height: 100px;
    width: 100px;
    position: relative;
    background-color: rgb(236, 231, 224);
}

.korkep1{
    border: 2px rgb(59, 36, 8) solid;
    height: 100px;
    width: 100px;
}

.korkep2{
    border: 2px rgb(59, 36, 8) solid;
    height: 100px;
    width: 100px;
}

.row{
    margin: auto !important;
}

body{
    background-color: rgb(240, 216, 184) !important;
}


h1, h2{
    text-align: center;
}

#menu{
    align-items: center;
    display: flex   ;
    justify-content: center;
    margin-top: 10%;
}

#kep1{
    height: 500px;
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    background-size: cover;
    margin-top: 5%;
    background-position: center;
}



option{
    text-align: center;
}

select{
    border: 2px rgb(59, 36, 8) solid;
    border-radius: 12px;
    background-color: rgb(236, 231, 224);

}

#kep1{
    border: 5px rgb(59, 36, 8) solid;
    border-radius: 18px;
    margin-top: 10%;

}

option{
    font-family: cursive;
    font-weight: bolder;
    font-size: 0.8rem;
}

.slidein{
    position: relative;
    animation-name: slidein;
    animation-duration: 2s;
}

@keyframes slidein{
    0% {top: 800px;}
    100% {top: 0px;}
}

button{

    border: 1px rgb(59, 36, 8) solid;
    border-radius: 12px !important;
    padding: 2%;
    color: rgb(236, 231, 224);
    background-color: rgb(59, 36, 8);
    margin: auto;
    width: 60%;
    height: 140%;
    font-family: cursive !important;
    font-weight: bolder;

}

#fannikep{
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 12px;
}

#fannikepek{
    margin-top: 10%;
    border: 5px rgb(59, 36, 8) solid;
    border-radius: 12px;
    background-color: rgb(236, 231, 224);
    width: 90%;
    padding-top: 7%;
    display: none;
    margin-bottom: 5%;
}

#kozoskepek{
    margin-top: 10%;
    border: 5px rgb(59, 36, 8) solid;
    border-radius: 12px;
    background-color: rgb(236, 231, 224);
    width: 90%;
    padding-top: 7%;
    display: none;
    margin-bottom: 5%;

}

#kozoskep{
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 12px;
}

#buttonsdiv{
    margin-top: 10% !important;
}

